/*когда включать версию для айфона*/
/*когда включать широкую версию*/
/* TRANSITION */
/* line 3, ../sass/comment.scss */
.post .figure_first {
  margin: 0 0 -87px;
}

/* line 7, ../sass/comment.scss */
.mess-list {
  background: #f8f8f8;
}
/* line 9, ../sass/comment.scss */
.mess-list .mess {
  padding: 0;
  border-top: 1px solid #e6e6e6;
  background: none;
  box-shadow: none;
  -moz-transition: background 0.2s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
/* line 15, ../sass/comment.scss */
.mess-list .mess:hover {
  background: #fbfbfb;
}
/* line 17, ../sass/comment.scss */
.mess-list .mess:hover .button_reply {
  opacity: 1;
}
/* line 20, ../sass/comment.scss */
.mess-list .mess__author {
  background: #fbf9e5;
}

/* line 22, ../sass/comment.scss */
.post__socials + .mess-list > *:first-child {
  box-shadow: 0 10px 8px -8px rgba(0, 0, 0, 0.05) inset;
}

/* line 25, ../sass/comment.scss */
.mess {
  box-shadow: 0 10px 8px -8px rgba(0, 0, 0, 0.05) inset;
}
/* line 27, ../sass/comment.scss */
.mess .mess__text {
  margin: auto;
  width: 640px;
  padding-bottom: 1px;
  font-size: 16px;
  font: 16px/1.8 Cambria, georgia, serif;
}
/* line 33, ../sass/comment.scss */
.mess .mess__text p {
  font: 16px/1.8 Cambria, georgia, serif;
  margin-bottom: 1.6em;
}
/* line 37, ../sass/comment.scss */
.mess .mess__text h1 {
  font: 28px/1.25 Cambria, georgia, serif;
  color: #222;
}
/* line 41, ../sass/comment.scss */
.mess .mess__text ol, .mess .mess__text ul {
  font-size: 16px;
  margin-left: 2em;
  margin-top: -10px;
  margin-bottom: 10px;
}
/* line 47, ../sass/comment.scss */
.mess .mess__text .mess__details {
  font-size: 14px;
  line-height: 1.15;
  margin: 0;
  font-family: Helvetica,arial,sans-serif;
}
/* line 54, ../sass/comment.scss */
.mess figure {
  margin-bottom: 30px;
}
/* line 56, ../sass/comment.scss */
.mess figure img {
  border-radius: 3px;
  max-width: 100%;
}
/* line 58, ../sass/comment.scss */
.mess .mess__text-holder {
  padding-top: 36px;
  margin-bottom: 35px;
}
/* line 62, ../sass/comment.scss */
.mess .mess__userpic {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  float: left;
  margin-right: 8px;
}
/* line 71, ../sass/comment.scss */
.mess .mess__username {
  font-size: 11px;
  color: #9f9999;
  font-size: 11px;
  line-height: 1.3;
  float: left;
  margin: 8px 0 0 0;
  width: 60px;
}
/* line 79, ../sass/comment.scss */
.mess .mess__username a {
  color: #9f9999;
  text-decoration: none;
}
/* line 84, ../sass/comment.scss */
.mess .mess__meta {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 22px;
  width: 150px;
  font-family: Arial,sans-serif;
}
/* line 92, ../sass/comment.scss */
.mess .mess__rating {
  border: 1px solid #dfdfdf;
  color: #9c9c9c;
  font-weight: bold;
  font-size: 14px;
  background: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.05)), color-stop(100%, rgba(0, 0, 0, 0.05)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
  height: 20px;
  line-height: 20px;
  padding: 0 3px;
  float: right;
  border-radius: 10px;
  margin-left: 12px;
}
/* line 105, ../sass/comment.scss */
.mess .mess__rating div {
  cursor: pointer;
  height: 20px;
}
/* line 110, ../sass/comment.scss */
.mess .mess__rating-num {
  float: left;
  padding: 0 5px;
}
/* line 114, ../sass/comment.scss */
.mess .mess__rating-p {
  background: url('../img/common-s9379dba048.png') -478px -1px no-repeat;
  width: 19px;
  height: 20px;
  float: left;
  border-right: 1px solid #dfdfdf;
}
/* line 119, ../sass/comment.scss */
.mess .mess__rating-m {
  background: url('../img/common-s9379dba048.png') -324px -1px no-repeat;
  width: 19px;
  height: 20px;
  float: left;
  border-right: 1px solid #dfdfdf;
}
/* line 124, ../sass/comment.scss */
.mess .mess__remove, .mess .mess__edit {
  background: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.05)), color-stop(100%, rgba(0, 0, 0, 0.05)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
  height: 20px;
  width: 20px;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  cursor: pointer;
  float: right;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  margin-left: 12px;
}
/* line 137, ../sass/comment.scss */
.mess .mess__remove div, .mess .mess__edit div {
  overflow: hidden;
  text-indent: -9999px;
  display: inline-block;
  vertical-align: middle;
}
/* line 144, ../sass/comment.scss */
.mess .mess__remove div {
  background: url('../img/common-s9379dba048.png') -153px -21px no-repeat;
  width: 13px;
  height: 14px;
}
/* line 145, ../sass/comment.scss */
.mess .mess__edit div {
  background: url('../img/common-s9379dba048.png') -111px -21px no-repeat;
  width: 13px;
  height: 13px;
}
/* line 146, ../sass/comment.scss */
.mess .mess__time {
  color: #9f9999;
  position: absolute;
  font-size: 11px;
  bottom: 21px;
  right: 23px;
}
/* line 154, ../sass/comment.scss */
.mess .mess__user:hover .user-more-arr {
  display: block;
}

/* line 158, ../sass/comment.scss */
.button_reply {
  position: absolute;
  bottom: 19px;
  left: 15px;
  opacity: 0;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 165, ../sass/comment.scss */
.user-more-arr {
  background: url('../img/common-s9379dba048.png') -59px -21px no-repeat;
  width: 12px;
  height: 12px;
  position: absolute;
  bottom: 5px;
  left: 53px;
  display: none;
  cursor: pointer;
  -moz-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

/* line 176, ../sass/comment.scss */
.mess_reply .mess__text {
  background: #fff;
  border: 1px solid #e6e6e6;
  border-width: 0 1px;
  background: white url(../img/bg-comment.png) repeat-y 100% 0;
}
/* line 182, ../sass/comment.scss */
.mess_reply .mess__text-holder {
  padding: 35px 50px 0;
}
/* line 184, ../sass/comment.scss */
.mess_reply .mess__text-holder form {
  margin: 5px 0 -15px -10px;
}
/* line 186, ../sass/comment.scss */
.mess_reply figure {
  margin: 0 -50px 30px;
  text-align: center;
}
/* line 190, ../sass/comment.scss */
.mess_reply form {
  width: 550px;
}
/* line 191, ../sass/comment.scss */
.mess_reply .mess__visual textarea, .mess_reply .mess__visual .textarea {
  width: 516px;
  height: 127px;
  resize: none;
}

/* line 197, ../sass/comment.scss */
.mess_l1 .mess__text, .mess__text-ans {
  border-radius: 4px 4px 0 0;
  margin-top: -5px;
  border-top: 1px solid #e6e6e6;
  position: relative;
}
/* line 202, ../sass/comment.scss */
.mess_l1 .mess__text:before, .mess__text-ans:before {
  background: url('../img/common-s9379dba048.png') -71px -21px no-repeat;
  width: 14px;
  height: 13px;
  content: "";
  position: absolute;
  top: -13px;
  left: 49px;
}

/* line 210, ../sass/comment.scss */
.mess__text-ans {
  background: #fff;
  border: 1px solid #e6e6e6;
  background: white url(../img/bg-comment.png) repeat-y 100% 0;
  border-radius: 4px;
  padding: 35px 50px 15px;
  margin-top: 15px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
}

/* line 219, ../sass/comment.scss */
.mess__text-ans-l2 {
  padding: 35px 50px 15px 100px;
  border-top: 1px solid #e6e6e6;
  background: url(../img/bg-comment.png) repeat-y -200px 0;
  margin: 0 -50px -15px;
}
/* line 224, ../sass/comment.scss */
.mess__text-ans-l2 form {
  width: 500px;
  margin-left: -5px;
}
/* line 228, ../sass/comment.scss */
.mess__text-ans-l2 textarea, .mess__text-ans-l2 .textarea {
  height: 127px;
}
/* line 231, ../sass/comment.scss */
.mess__text-ans-l2 .mess__visual textarea, .mess__text-ans-l2 .mess__visual .textarea {
  width: 466px;
}

/* line 234, ../sass/comment.scss */
.mess_l2 .mess__text {
  background-position: -200px 0;
}
/* line 235, ../sass/comment.scss */
.mess_l2 .mess__text-holder {
  padding-left: 100px;
}
/* line 236, ../sass/comment.scss */
.mess_l2 form {
  width: 500px;
}
/* line 237, ../sass/comment.scss */
.mess_l2 .mess__visual textarea, .mess_l2 .mess__visual .textarea {
  width: 466px;
}

/* line 240, ../sass/comment.scss */
.mess_l3 .mess__text {
  background-position: -150px 0;
}
/* line 241, ../sass/comment.scss */
.mess_l3 .mess__text-holder {
  padding-left: 150px;
}
/* line 243, ../sass/comment.scss */
.mess_l3 .mess__text-holder form {
  width: 450px;
}
/* line 244, ../sass/comment.scss */
.mess_l3 .mess__text-holder .mess__visual textarea, .mess_l3 .mess__text-holder .mess__visual .textarea {
  width: 416px;
}

/* line 248, ../sass/comment.scss */
.mess_l4 .mess__text {
  background-position: -100px 0;
}
/* line 251, ../sass/comment.scss */
.mess_l4 .mess__text-holder {
  padding-left: 200px;
}
/* line 253, ../sass/comment.scss */
.mess_l4 .mess__text-holder form {
  width: 400px;
}
/* line 254, ../sass/comment.scss */
.mess_l4 .mess__text-holder .mess__visual textarea, .mess_l4 .mess__text-holder .mess__visual .textarea {
  width: 366px;
}

/* line 259, ../sass/comment.scss */
.mess_l5 .mess__text {
  background-position: -50px 0;
}
/* line 262, ../sass/comment.scss */
.mess_l5 .mess__text-holder {
  padding-left: 250px;
}
/* line 264, ../sass/comment.scss */
.mess_l5 .mess__text-holder form {
  width: 350px;
}
/* line 265, ../sass/comment.scss */
.mess_l5 .mess__text-holder .mess__visual textarea, .mess_l5 .mess__text-holder .mess__visual .textarea {
  width: 316px;
}

/* line 268, ../sass/comment.scss */
.mess_last {
  position: relative;
}
/* line 271, ../sass/comment.scss */
.mess_last .mess__text {
  border-radius: 0 0 4px 4px;
  margin-bottom: -5px;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
  z-index: 10;
}
/* line 278, ../sass/comment.scss */
.mess_last:hover:after {
  display: block;
}
/* line 281, ../sass/comment.scss */
.mess_last:after {
  position: absolute;
  display: none;
  width: 1000px;
  height: 6px;
  left: 0;
  bottom: 0;
  background: #f8f8f8;
  content: "";
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 292, ../sass/comment.scss */
.mess_last:last-child .mess__text {
  box-shadow: 0 10px 8px -8px rgba(0, 0, 0, 0.05);
}

/* line 294, ../sass/comment.scss */
.mess__like {
  background: url('../img/common-s9379dba048.png') -264px -69px no-repeat;
  width: 28px;
  height: 24px;
  cursor: pointer;
  float: right;
}

/* line 299, ../sass/comment.scss */
.mess__share {
  background: url('../img/common-s9379dba048.png') -202px -69px no-repeat;
  width: 31px;
  height: 24px;
  cursor: pointer;
  float: right;
}

/* line 304, ../sass/comment.scss */
.mess__comment {
  background: url('../img/common-s9379dba048.png') -252px -1px no-repeat;
  width: 18px;
  height: 18px;
  cursor: pointer;
  float: right;
}

/* line 309, ../sass/comment.scss */
.mess__userlist {
  display: inline-block;
  padding: 17px 0 8px;
}
/* line 312, ../sass/comment.scss */
.mess__userlist .mess__userpic {
  margin-right: 8px;
  height: 46px;
  width: 46px;
}

/* line 318, ../sass/comment.scss */
.mess_add, .mess-list .mess_add {
  padding: 50px 0 36px;
}

/* line 319, ../sass/comment.scss */
.mess_add-closed, .mess-list .mess_add-closed {
  padding: 20px 0 6px;
}
/* line 321, ../sass/comment.scss */
.mess_add-closed .mess__user, .mess-list .mess_add-closed .mess__user {
  display: none;
}
/* line 322, ../sass/comment.scss */
.mess_add-closed .textformat, .mess-list .mess_add-closed .textformat {
  display: none;
}
/* line 323, ../sass/comment.scss */
.mess_add-closed .addphoto, .mess-list .mess_add-closed .addphoto {
  display: none;
}
/* line 324, ../sass/comment.scss */
.mess_add-closed .button, .mess-list .mess_add-closed .button {
  display: none;
}
/* line 325, ../sass/comment.scss */
.mess_add-closed textarea, .mess_add-closed .textarea, .mess-list .mess_add-closed textarea, .mess-list .mess_add-closed .textarea {
  padding: 12px 16px;
}

/* line 328, ../sass/comment.scss */
.user-inf {
  background: #fff;
}
/* line 330, ../sass/comment.scss */
.user-inf .user-inf__avatar {
  border-radius: 50%;
  border: 2px solid #ebebeb;
}
/* line 334, ../sass/comment.scss */
.user-inf h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.4;
}
/* line 338, ../sass/comment.scss */
.user-inf h2 a {
  color: #000;
  text-decoration: none;
}
/* line 343, ../sass/comment.scss */
.user-inf p {
  font: 14px/1.2 Cambria, georgia, serif;
  color: #1d1d1d;
  opacity: 0.6;
}
/* line 348, ../sass/comment.scss */
.user-inf .button {
  padding: 2px 10px;
}
/* line 349, ../sass/comment.scss */
.user-inf .stats {
  border-top: 1px solid #ebe7e7;
  overflow: hidden;
  list-style: none;
  width: 230px;
  line-height: 1.4;
}
/* line 355, ../sass/comment.scss */
.user-inf .stats li {
  float: left;
  border-left: 1px solid #ebe7e7;
  font-size: 11px;
  color: #999;
  text-align: left;
}
/* line 361, ../sass/comment.scss */
.user-inf .stats li a {
  color: #b3b3b3;
  text-decoration: none;
  display: block;
  height: 41px;
  padding: 5px 0 0 15px;
  width: 55px;
}
/* line 369, ../sass/comment.scss */
.user-inf .stats li:first-child {
  border: 0;
}
/* line 370, ../sass/comment.scss */
.user-inf .stats li strong {
  display: block;
  color: #1d1d1d;
  font-size: 14px;
  margin-top: 4px;
}

/* line 380, ../sass/comment.scss */
.user-inf_popup {
  width: 200px;
  display: none;
  text-align: center;
  position: absolute;
  top: 59px;
  left: 13px;
  padding: 0 15px;
  border: 1px solid #ebe7e7;
  border-radius: 5px;
  z-index: 250;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
/* line 392, ../sass/comment.scss */
.user-inf_popup:before {
  background: url('../img/common-s9379dba048.png') 0 -41px no-repeat;
  width: 21px;
  height: 10px;
  content: "";
  position: absolute;
  top: -10px;
  left: 34px;
}
/* line 399, ../sass/comment.scss */
.user-inf_popup .user-inf__avatar {
  height: 100px;
  width: 100px;
  margin: -12px auto 5px;
  display: block;
}
/* line 405, ../sass/comment.scss */
.user-inf_popup h2 {
  margin-bottom: 4px;
}
/* line 406, ../sass/comment.scss */
.user-inf_popup p {
  margin-bottom: 12px;
}
/* line 407, ../sass/comment.scss */
.user-inf_popup .button {
  margin-bottom: 9px;
}
/* line 408, ../sass/comment.scss */
.user-inf_popup .button {
  padding: 2px 12px;
}
/* line 409, ../sass/comment.scss */
.user-inf_popup .stats {
  margin: 0 -15px;
  width: 225px;
  padding-left: 5px;
}

/* line 415, ../sass/comment.scss */
.mess .button_reply, .button_reply {
  padding: 2px 10px 2px 8px;
}
/* line 417, ../sass/comment.scss */
.mess .button_reply span, .button_reply span {
  background: url('../img/common-s9379dba048.png') -42px -1px no-repeat;
  width: 12px;
  height: 16px;
  margin-right: 6px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
}

/* line 427, ../sass/comment.scss */
.post__load-all {
  border-top: 1px solid #e5e5e5;
  height: 48px;
  margin-top: 12px;
  overflow: hidden;
  position: relative;
  line-height: 43px;
  padding: 0 19px;
  background: #fff;
}
/* line 436, ../sass/comment.scss */
.post__load-all a {
  font-size: 14px;
  color: #afafaf;
  text-decoration: none;
  font-weight: bold;
  margin-left: 134px;
}
/* line 443, ../sass/comment.scss */
.post__load-all .loader {
  margin: 0 3px 0 2px;
  vertical-align: middle;
}

/* line 448, ../sass/comment.scss */
.post__load-all_nomargin {
  margin-top: 0;
}

/* line 452, ../sass/comment.scss */
.hr {
  margin: 14px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #f1f1f1;
}

/* line 459, ../sass/comment.scss */
.post-list {
  padding-top: 43px;
}
/* line 461, ../sass/comment.scss */
.post-list .mess-list .mess:first-child {
  box-shadow: 0 10px 8px -8px rgba(0, 0, 0, 0.05) inset;
}

/* line 465, ../sass/comment.scss */
.post_item {
  background: #fff;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 0 1px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 1000px;
  z-index: 9;
}
/* line 473, ../sass/comment.scss */
.post_item figure img {
  vertical-align: top;
}

/* line 476, ../sass/comment.scss */
.post__header {
  display: inline-block;
  width: 960px;
  padding: 20px 20px 16px;
}
/* line 480, ../sass/comment.scss */
.post__header .post__retweet-author, .post__header .post__author-pic {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  border: 2px solid #d9d9d9;
  float: left;
  margin: 0 11px 0 0;
}
/* line 488, ../sass/comment.scss */
.post__header .post__author-pic {
  margin-right: 16px;
}
/* line 489, ../sass/comment.scss */
.post__header .post__shareicon {
  margin-top: 20px;
}
/* line 490, ../sass/comment.scss */
.post__header .post__author {
  float: left;
  position: relative;
  font-weight: bold;
}
/* line 494, ../sass/comment.scss */
.post__header .post__author .user-more-arr {
  left: 59px;
  bottom: 1px;
}
/* line 499, ../sass/comment.scss */
.post__header .post__author:hover .user-more-arr {
  display: block;
}
/* line 500, ../sass/comment.scss */
.post__header .post__author:hover .post__author-name {
  color: #a3a3a3;
}
/* line 503, ../sass/comment.scss */
.post__header .post__author-name {
  color: #000;
  font-size: 18px;
  vertical-align: middle;
  float: left;
  text-decoration: none;
  margin-top: 19px;
  -moz-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 512, ../sass/comment.scss */
.post__header .user-inf_popup {
  left: 19px;
  top: 73px;
}

/* line 518, ../sass/comment.scss */
.post__meta {
  float: right;
  margin-top: -5px;
}
/* line 521, ../sass/comment.scss */
.post__meta span {
  color: #b8b8b8;
  font-size: 11px;
}

/* line 527, ../sass/comment.scss */
.control-nav-holder {
  display: inline-block;
  position: relative;
  margin-left: 3px;
}
/* line 532, ../sass/comment.scss */
.control-nav-holder:hover .control-nav__arr {
  background: url('../img/common-s9379dba048.png') -234px -1px no-repeat;
  width: 18px;
  height: 18px;
}

/* line 535, ../sass/comment.scss */
.control-nav__arr {
  background: url('../img/common-s9379dba048.png') -270px -1px no-repeat;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

/* line 541, ../sass/comment.scss */
.control-nav {
  position: absolute;
  width: 143px;
  background: #fff;
  list-style-type: none;
  border: 1px solid #ebe7e7;
  border-radius: 5px;
  z-index: 15;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  top: 33px;
  right: -15px;
  padding: 8px 0 7px;
  display: none;
}
/* line 554, ../sass/comment.scss */
.control-nav:before {
  background: url('../img/common-s9379dba048.png') 0 -41px no-repeat;
  width: 21px;
  height: 10px;
  content: "";
  position: absolute;
  top: -10px;
  right: 12px;
}
/* line 561, ../sass/comment.scss */
.control-nav a {
  color: #a8a8a8;
  width: 113px;
  padding: 4px 15px 5px;
  font-size: 12px;
  text-decoration: none;
  display: block;
  font-weight: bold;
  position: relative;
}
/* line 570, ../sass/comment.scss */
.control-nav a:hover {
  color: #11b0eb;
  background: #f3f3f3;
}
/* line 574, ../sass/comment.scss */
.control-nav a span {
  color: #11b0eb;
  position: absolute;
  top: 3px;
  right: 14px;
}
/* line 581, ../sass/comment.scss */
.control-nav .sign-out {
  border-top: 1px solid #e5e5e5;
  margin: 3px 0 -4px;
  padding-top: 3px;
}

/* line 588, ../sass/comment.scss */
.post-list__manag {
  text-align: center;
}
/* line 590, ../sass/comment.scss */
.post-list__manag .button {
  padding: 5px 26px 6px;
}

/* line 594, ../sass/comment.scss */
.post-list__year {
  color: #9c9c9c;
  font: bold 18px Arial, sans-serif;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
  line-height: 1.3;
}
/* line 600, ../sass/comment.scss */
.post-list__year:hover {
  color: #c0c0c0;
}

/* line 602, ../sass/comment.scss */
.post-list__month {
  line-height: 1.3;
  padding: 4px 0 0;
}
/* line 605, ../sass/comment.scss */
.post-list__month li {
  display: inline-block;
  margin: 0 3px;
}
/* line 609, ../sass/comment.scss */
.post-list__month a {
  color: #9c9c9c;
  font: bold 14px Arial, sans-serif;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
}
/* line 615, ../sass/comment.scss */
.post-list__month .active a {
  color: #11b0eb;
}
/* line 616, ../sass/comment.scss */
.post-list__month .disabled a {
  color: #c0c0c0;
  cursor: default;
}

/* line 621, ../sass/comment.scss */
.read-more {
  background: url('../img/common-s9379dba048.png') -35px -21px no-repeat;
  width: 24px;
  height: 12px;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  display: inline-block;
  vertical-align: middle;
}

/* line 629, ../sass/comment.scss */
.post-mini {
  overflow: hidden;
  color: #9c9c9c;
  font: 14px Arial, sans-serif;
  width: 960px;
  margin: 14px auto;
  font-weight: bold;
  display: none;
}
/* line 637, ../sass/comment.scss */
.post-mini .post-mini__expand {
  float: right;
  font-size: 11px;
  font-weight: normal;
  border: 1px solid #d3d3d3;
  height: 17px;
  line-height: 17px;
  border-radius: 8px;
  padding: 0 9px;
  cursor: pointer;
}
